<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.sunshine.juanjo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">
        <activity
            android:name="app.sunshine.juanjo.views.activities.MainActivity"
            android:theme="@style/ForecastTheme"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.sunshine.juanjo.views.activities.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName="app.sunshine.juanjo.views.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.sunshine.juanjo.views.activities.MainActivity" />
        </activity>
        <activity
            android:name="app.sunshine.juanjo.views.activities.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName="app.sunshine.juanjo.views.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.sunshine.juanjo.views.activities.MainActivity" />
        </activity>

        <provider
            android:authorities="app.sunshine.juanjo"
            android:name=".Util.WeatherProvider" />
    </application>

</manifest>
